img{
    height: auto;
    width: 10%;
    display: block;
    margin: 0 auto;
}
.h101{
    font-size: 2em;
    color: #530000;
    text-align: center;
}
.h201{
    font-size: 1.5em;
    color: #4b0000;
    text-align: center;
}
li {
    list-style-type: none;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    text-align: left;
    font-weight: bold;
    text-align: center;
}
.p01{
    color: #000000;
    text-align: auto;
    margin: 10px 0;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin: 50px auto;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 10px rgb(255, 102, 0);
    border
}
.th01{
    background-color: #ff5100;
    padding: 10px;
    text-align: center;
    color: #ffffff; 
}
.li01{
    width: 100px;
    height: 200vh;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    color: antiquewhite;
}
a {
    color: #970000;
    text-decoration: none;
}
p {
    font-size: 1.2em;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}

